<div class="row">
  <h3>Compound Interest Calculator</h3>
</div>
<div class="row">
  <form #form="ngForm" novalidate>
    <div class="col_sm">
      <div class="form-group">
        <label for="presentValue">Original Balance</label>
        <input type="number" class="form-control" id="originalBalance"
                name="originalBalance"
                [(ngModel)]="originalBalance" placeholder="Original Balance">
      </div>
    </div>
    <div class="col_sm">
      <div class="form-group">
        <label for="rate">Rate (%) per Period</label>
        <input type="number" class="form-control" id="rate"
                name="rate"
                [(ngModel)]="rate" placeholder="Rate">
      </div>
    </div>
    <div class="col_sm">
      <div class="form-group">
        <label for="periods">Number of Periods</label>
        <input type="number" class="form-control" id="periods"
                name="periods"
                [(ngModel)]="periods" placeholder="Number of Periods">
      </div>
    </div>
    <div class="col_sm">
      <button type="submit" class="btn btn-primary" (click)="calculateCompoundInterest()">Calculate</button>
    </div>
  </form>
</div>


<div *ngIf="compoundInterest" class="row result">
  <div class="col-sm">
    <div class="alert alert-primary" role="alert">
      Compound Interest: {{compoundInterest | currency:'USD'}}
    </div>
  </div>
</div>
