<div class="row">
  <h3>Compound Interest Calculator</h3>
</div>
<form #form="ngForm" novalidate>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="originalBalanceInput">Original Balance</label>
        <input type="number" class="form-control" id="originalBalanceInput" name="originalBalanceInput" #originalBalanceInput="ngModel"
          required [(ngModel)]="originalBalance" placeholder="Original Balance" appCurrency>
      </div>
      <div *ngIf="originalBalanceInput.invalid && (originalBalanceInput.dirty || originalBalanceInput.touched)" class="alert alert-danger">
        <div *ngIf="originalBalanceInput?.errors.required">
          Original Balance is required.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="rateInput">Rate (%) per Period</label>
        <input type="number" class="form-control" id="rateInput" name="rateInput" #rateInput="ngModel" required [(ngModel)]="rate"
          placeholder="Rate">
      </div>
      <div *ngIf="rateInput.invalid && (rateInput.dirty || rateInput.touched)" class="alert alert-danger">
        <div *ngIf="rateInput?.errors.required">
          Rate is required.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="periodsInput">Number of Periods</label>
        <input type="number" class="form-control" id="periodsInput" name="periodsInput" #periodsInput="ngModel" required [(ngModel)]="periods"
          placeholder="Number of Periods">
      </div>
      <div *ngIf="periodsInput.invalid && (periodsInput.dirty || periodsInput.touched)" class="alert alert-danger">
        <div *ngIf="periodsInput?.errors.required">
          Number of Periods is required.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button [disabled]="form.invalid" type="submit" class="btn btn-primary" (click)="calculateCompoundInterest()">Calculate Compound Interest</button>
    </div>
  </div>
</form>

<div *ngIf="compoundInterest" class="row result">
  <div class="col-sm">
    <div class="alert alert-primary" role="alert">
      Compound Interest: {{compoundInterest | currency:'USD'}}
    </div>
  </div>
</div>
